arrow
dataclasses;python_version<"3.7"
numpy;platform_machine=="x86_64" and python_version<"3.9"
pendulum;sys_platform=="linux" and python_version<"3.9" and platform_machine=="x86_64"
psutil
pytest
pytz
typing_extensions;python_version>="3.6" and python_version<"3.8"
xxhash==1.4.3 # creates non-compact ASCII for test_str_ascii
