# SPDX-License-Identifier: MPL-2.0
# Copyright ijl (2023-2025)

name: stale
on:
  schedule:
    - cron: '0 8 * * *'
permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/stale@v10
        with:
          days-before-stale: 7
          days-before-close: 1
          exempt-assignees: ijl
